:root {
  --sapUiSacGridExpandedAboveIcon: "\e1f0";
  --sapUiSacGridExpandedBelowIcon: "\e1ef";
  --sapUiSacGridCollapsedIcon: "\e1ed";
  --sapUiSacGridCursorPointer: pointer;
  --sapUiSacGridNoDataCursorPointer: auto;
  --sapUiSacGridTextDecoration: underline;
  --sapUiSacGridNoDataTextDecoration: none;
  --sapUiSacGridCellBorder: 1px solid #000000;
  --sapUiSacGridCellBorderCollapse: separate;
  --sapUiSacGridOverflow: auto;
  --sapUiSacGrid100PerCent: 100%;
  --sapUiSacGridCellNoFlex: none;
}

/* Inline theming parameters */
#sap-ui-theme-sap\.sac\.grid{background-image:url('data:text/plain;utf-8,%7B%22sapUiSacGridExpandedAboveIcon%22%3A%22%5C%22%5C%5Ce1f0%5C%22%22%2C%22sapUiSacGridExpandedBelowIcon%22%3A%22%5C%22%5C%5Ce1ef%5C%22%22%2C%22sapUiSacGridCollapsedIcon%22%3A%22%5C%22%5C%5Ce1ed%5C%22%22%2C%22sapUiSacGridCursorPointer%22%3A%22pointer%22%2C%22sapUiSacGridNoDataCursorPointer%22%3A%22auto%22%2C%22sapUiSacGridTextDecoration%22%3A%22underline%22%2C%22sapUiSacGridNoDataTextDecoration%22%3A%22none%22%2C%22sapUiSacGridCellBorder%22%3A%221px%20solid%20%23000000%22%2C%22sapUiSacGridCellBorderCollapse%22%3A%22separate%22%2C%22sapUiSacGridOverflow%22%3A%22auto%22%2C%22sapUiSacGrid100PerCent%22%3A%22100%25%22%2C%22sapUiSacGridCellNoFlex%22%3A%22none%22%7D')}
