:root {
  --sapUshellOnePixel: 1px;
  --sapUshellTwoPixels: 0.125rem;
  --searchPhoneSize: (max-width: 767px);
  --searchTabletSize: (min-width: 768px) and (max-width: 1150px);
  --searchNotPhoneSize: (min-width: 768px);
  --searchDesktopSize: (min-width: 1151px);
  --_sap_esh_search_ui_function_darken1507: #fafafa;
  --_sap_esh_search_ui_function_contrast1507: #ffffff;
  --_sap_esh_search_ui_function_lighten1526: #f1f2f3;
  --_sap_esh_search_ui_function_contrast1526: #ffffff;
}

/* Inline theming parameters */
#sap-ui-theme-sap\.esh\.search\.ui{background-image:url('data:text/plain;utf-8,%7B%22sapUshellOnePixel%22%3A%221px%22%2C%22sapUshellTwoPixels%22%3A%220.125rem%22%2C%22searchPhoneSize%22%3A%22(max-width%3A%20767px)%22%2C%22searchTabletSize%22%3A%22(min-width%3A%20768px)%20and%20(max-width%3A%201150px)%22%2C%22searchNotPhoneSize%22%3A%22(min-width%3A%20768px)%22%2C%22searchDesktopSize%22%3A%22(min-width%3A%201151px)%22%7D')}
