:root {
  --sap_zen_commons_Grid_StandardCellTdPaddingLeft: 10px;
  --sap_zen_commons_Grid_StandardCellTdPaddingRight: 5px;
  --sap_zen_commons_Grid_StandardCellDivPaddingLeft: 0px;
  --sap_zen_commons_Grid_StandardCellDivPaddingTop: 1px;
  --sap_zen_commons_Grid_StandardCellDivPaddingBottom: 1px;
  --sap_zen_commons_Grid_StandardCellDivPaddingRight: 1px;
  --sap_zen_commons_Grid_StandardHeight: var(--sapUiUx3ExactLstHeaderHeight);
  --sap_zen_commons_Grid_CellTitleTdBackgroundColor: var(--sapUiListBackground);
  --sap_zen_commons_Grid_InnerTableBackgroundColor: var(--sapUiListBackground);
  --sap_zen_commons_Grid_CellHeaderTdBackgroundColor: var(--sapUiListBackground);
  --sap_zen_commons_Grid_CellHeaderResultTdBackgroundColor: var(--sapUiListBackground);
  --sap_zen_commons_Grid_CellStandardResultTdBackgroundColor: var(--sapUiListBackground);
  --sap_zen_commons_Grid_CellStandardTdBackgroundColor: var(--sapUiListBackground);
  --sap_zen_commons_Grid_TooltipBackground: var(--sapUiShellBackground);
  --sap_zen_commons_Grid_StandardTextColor: var(--sapUiBaseText);
  --sap_zen_commons_Grid_PositiveTextColor: var(--sapUiPositiveText);
  --sap_zen_commons_Grid_CriticalTextColor: var(--sapUiCritical);
  --sap_zen_commons_Grid_NegativeTextColor: var(--sapUiNegative);
  --sap_zen_commons_Grid_CellHeaderResultColor: var(--sapUiBaseText);
  --sap_zen_commons_Grid_StandardFontColour: var(--sapUiBaseText);
  --sap_zen_commons_Grid_StandardResultFontColour: var(--sapUiBaseText);
  --sap_zen_commons_Grid_StandardFontSize: var(--sapUiFontSmallSize);
  --sap_zen_commons_Grid_StandardFontFamily: var(--sapUiFontLightFamily);
  --sap_zen_commons_Grid_CellHeaderFontFamily: var(--sapUiFontHeaderFamily);
  --sap_zen_commons_Grid_CellHeaderResultFontFamily: var(--sapUiFontHeaderFamily);
  --sap_zen_commons_Grid_StandardFontStyle: normal;
  --sap_zen_commons_Grid_TitleCellFontStyle: normal;
  --sap_zen_commons_Grid_HeaderCellFontStyle: normal;
  --sap_zen_commons_Grid_HeaderResultCellFontStyle: normal;
  --sap_zen_commons_Grid_StandardFontWeight: normal;
  --sap_zen_commons_Grid_TitleCellFontWeight: bold;
  --sap_zen_commons_Grid_HeaderCellFontWeight: normal;
  --sap_zen_commons_Grid_HeaderResultCellFontWeight: bold;
  --sap_zen_commons_Grid_CellBorderCollapse: collapse;
  --sap_zen_commons_Grid_CellBorderSeparate: separate;
  --sap_zen_commons_Grid_CellStandardBorderColor: var(--sapUiFieldBorderColor);
  --sap_zen_commons_Grid_CellStandardBorderWidth: 1px;
  --sap_zen_commons_Grid_CellStandardBorderStyle: solid;
  --sap_zen_commons_Grid_CellEmpBorderWidth: 1px;
  --sap_zen_commons_Grid_CellEmpBorderStyle: solid;
  --sap_zen_commons_Grid_CellMarginLeft: 1px;
  --sap_zen_commons_Grid_CellMarginRight: 1px;
  --sap_zen_commons_Grid_CellMarginTop: 0;
  --sap_zen_commons_Grid_CellMarginBottom: 0;
  --sap_zen_commons_Grid_HeaderTdTextAlign: Left;
  --sap_zen_commons_Grid_HeaderResultTdTextAlign: Left;
  --sap_zen_commons_Grid_TitleTdTextAlign: Left;
  --sap_zen_commons_Grid_StandardTdTextAlign: Right;
  --sap_zen_commons_Grid_StandardResultTdTextAlign: Right;
  --sap_zen_commons_Grid_StandardLineHeight: var(--sapUiLineHeight);
  --sap_zen_commons_Grid_StandardTableLayout: fixed;
  --sap_zen_commons_Grid_StandardWhiteSpace: nowrap;
  --sap_zen_commons_Grid_Scroll: scroll;
  --sap_zen_commons_Grid_Right: right;
  --sap_zen_commons_Grid_Center: Center;
  --sap_zen_commons_Grid_Absolute: absolute;
  --sap_zen_commons_Grid_One: 1;
  --sap_zen_commons_Grid_Hidden: hidden;
  --sap_zen_commons_Grid_Visible: visible;
  --sap_zen_commons_Grid_Relative: relative;
  --sap_zen_commons_Grid_Zero: 0;
  --sap_zen_commons_Grid_Left: left;
  --sap_zen_commons_Grid_None: none;
  --sap_zen_commons_Grid_Text: text;
  --sap_zen_commons_Grid_100PerCent: 100%;
  --sap_zen_commons_Grid_Top: top;
  --sap_zen_commons_Grid_Ellipsis: ellipsis;
  --sap_zen_commons_Grid_Clip: clip;
  --sap_zen_commons_Grid_Middle: middle;
  --sap_zen_commons_Grid_StandardDisplay: inline-block;
  --sap_zen_commons_Grid_ScrollbarWidth: 16px;
  --sap_zen_commons_Grid_ThumbBorderRadius: 10px;
  --sap_zen_commons_Grid_ThumbShadow: inset 0 0 6px #8c8c8c;
  --sap_zen_commons_Grid_TooltipWidth: 120px;
  --sap_zen_commons_Grid_TooltipFontSize: 7px;
  --sap_zen_commons_Grid_TooltipColor: var(--sapUiContentNonInteractiveIconColor);
  --sap_zen_commons_Grid_TooltipRadius: 6px;
  --sap_zen_commons_Grid_TooltipPadding: 5px 0;
  --sap_zen_commons_Grid_FontMeasureColour: var(--sapUiScrollBarFaceColor);
  --sap_zen_commons_Grid_HierIconMaxHeight: 22px;
  --sap_zen_commons_Grid_HierIconPaddingRight: 5px;
  --sap_zen_commons_Grid_ExcelBorderWidth: 1px;
  --sap_zen_commons_Grid_ExcelBorderStyle: solid;
  --sap_zen_commons_Grid_ExcelBorderColor: var(--sapUiContentForegroundBorderColor);
  --sap_zen_commons_Grid_ExcelBackgroundColor: var(--sapUiListBackground);
  --sap_zen_commons_Grid_ExcelResultFontWeight: 600;
  --sap_zen_commons_Grid_ExcelFatBorderWidth: 2px;
  --sap_zen_commons_Grid_BusinessBorderWidth: 1px;
  --sap_zen_commons_Grid_BusinessBorderStyle: solid;
  --sap_zen_commons_Grid_BusinessBorderColor: var(--sapUiFieldBorderColor);
  --sap_zen_commons_Grid_BusinessBackgroundColor: var(--sapUiGlobalBackgroundColor);
  --sap_zen_commons_Grid_BusinessResultFontWeight: 600;
  --sap_zen_commons_Grid_BusinessFatBorderWidth: 2px;
  --sap_zen_commons_Grid_BusinessBorderCollapse: var(--sap_zen_commons_Grid_CellBorderCollapse);
}

/* Inline theming parameters */
#sap-ui-theme-sap\.zen\.commons{background-image:url('data:text/plain;utf-8,%7B%22sap_zen_commons_Grid_StandardCellTdPaddingLeft%22%3A%2210px%22%2C%22sap_zen_commons_Grid_StandardCellTdPaddingRight%22%3A%225px%22%2C%22sap_zen_commons_Grid_StandardCellDivPaddingLeft%22%3A%220px%22%2C%22sap_zen_commons_Grid_StandardCellDivPaddingTop%22%3A%221px%22%2C%22sap_zen_commons_Grid_StandardCellDivPaddingBottom%22%3A%221px%22%2C%22sap_zen_commons_Grid_StandardCellDivPaddingRight%22%3A%221px%22%2C%22sap_zen_commons_Grid_StandardHeight%22%3A%2225px%22%2C%22sap_zen_commons_Grid_CellTitleTdBackgroundColor%22%3A%22%23ffffff%22%2C%22sap_zen_commons_Grid_InnerTableBackgroundColor%22%3A%22%23ffffff%22%2C%22sap_zen_commons_Grid_CellHeaderTdBackgroundColor%22%3A%22%23ffffff%22%2C%22sap_zen_commons_Grid_CellHeaderResultTdBackgroundColor%22%3A%22%23ffffff%22%2C%22sap_zen_commons_Grid_CellStandardResultTdBackgroundColor%22%3A%22%23ffffff%22%2C%22sap_zen_commons_Grid_CellStandardTdBackgroundColor%22%3A%22%23ffffff%22%2C%22sap_zen_commons_Grid_TooltipBackground%22%3A%22%23edeff0%22%2C%22sap_zen_commons_Grid_StandardTextColor%22%3A%22%2332363a%22%2C%22sap_zen_commons_Grid_PositiveTextColor%22%3A%22%23107e3e%22%2C%22sap_zen_commons_Grid_CriticalTextColor%22%3A%22%23df6e0c%22%2C%22sap_zen_commons_Grid_NegativeTextColor%22%3A%22%23bb0000%22%2C%22sap_zen_commons_Grid_CellHeaderResultColor%22%3A%22%2332363a%22%2C%22sap_zen_commons_Grid_StandardFontColour%22%3A%22%2332363a%22%2C%22sap_zen_commons_Grid_StandardResultFontColour%22%3A%22%2332363a%22%2C%22sap_zen_commons_Grid_StandardFontSize%22%3A%2211px%22%2C%22sap_zen_commons_Grid_StandardFontFamily%22%3A%22%5C%2272-Light%5C%22%2C%20%5C%2272-Lightfull%5C%22%2C%20%5C%2272%5C%22%2C%20%5C%2272full%5C%22%2C%20Arial%2C%20Helvetica%2C%20sans-serif%22%2C%22sap_zen_commons_Grid_CellHeaderFontFamily%22%3A%22%5C%2272%5C%22%2C%20%5C%2272full%5C%22%2C%20Arial%2C%20Helvetica%2C%20sans-serif%22%2C%22sap_zen_commons_Grid_CellHeaderResultFontFamily%22%3A%22%5C%2272%5C%22%2C%20%5C%2272full%5C%22%2C%20Arial%2C%20Helvetica%2C%20sans-serif%22%2C%22sap_zen_commons_Grid_StandardFontStyle%22%3A%22normal%22%2C%22sap_zen_commons_Grid_TitleCellFontStyle%22%3A%22normal%22%2C%22sap_zen_commons_Grid_HeaderCellFontStyle%22%3A%22normal%22%2C%22sap_zen_commons_Grid_HeaderResultCellFontStyle%22%3A%22normal%22%2C%22sap_zen_commons_Grid_StandardFontWeight%22%3A%22normal%22%2C%22sap_zen_commons_Grid_TitleCellFontWeight%22%3A%22bold%22%2C%22sap_zen_commons_Grid_HeaderCellFontWeight%22%3A%22normal%22%2C%22sap_zen_commons_Grid_HeaderResultCellFontWeight%22%3A%22bold%22%2C%22sap_zen_commons_Grid_CellBorderCollapse%22%3A%22collapse%22%2C%22sap_zen_commons_Grid_CellBorderSeparate%22%3A%22separate%22%2C%22sap_zen_commons_Grid_CellStandardBorderColor%22%3A%22%2389919a%22%2C%22sap_zen_commons_Grid_CellStandardBorderWidth%22%3A%221px%22%2C%22sap_zen_commons_Grid_CellStandardBorderStyle%22%3A%22solid%22%2C%22sap_zen_commons_Grid_CellEmpBorderWidth%22%3A%221px%22%2C%22sap_zen_commons_Grid_CellEmpBorderStyle%22%3A%22solid%22%2C%22sap_zen_commons_Grid_CellMarginLeft%22%3A%221px%22%2C%22sap_zen_commons_Grid_CellMarginRight%22%3A%221px%22%2C%22sap_zen_commons_Grid_CellMarginTop%22%3A%220%22%2C%22sap_zen_commons_Grid_CellMarginBottom%22%3A%220%22%2C%22sap_zen_commons_Grid_HeaderTdTextAlign%22%3A%22Left%22%2C%22sap_zen_commons_Grid_HeaderResultTdTextAlign%22%3A%22Left%22%2C%22sap_zen_commons_Grid_TitleTdTextAlign%22%3A%22Left%22%2C%22sap_zen_commons_Grid_StandardTdTextAlign%22%3A%22Right%22%2C%22sap_zen_commons_Grid_StandardResultTdTextAlign%22%3A%22Right%22%2C%22sap_zen_commons_Grid_StandardLineHeight%22%3A%2218px%22%2C%22sap_zen_commons_Grid_StandardTableLayout%22%3A%22fixed%22%2C%22sap_zen_commons_Grid_StandardWhiteSpace%22%3A%22nowrap%22%2C%22sap_zen_commons_Grid_Scroll%22%3A%22scroll%22%2C%22sap_zen_commons_Grid_Right%22%3A%22right%22%2C%22sap_zen_commons_Grid_Center%22%3A%22Center%22%2C%22sap_zen_commons_Grid_Absolute%22%3A%22absolute%22%2C%22sap_zen_commons_Grid_One%22%3A%221%22%2C%22sap_zen_commons_Grid_Hidden%22%3A%22hidden%22%2C%22sap_zen_commons_Grid_Visible%22%3A%22visible%22%2C%22sap_zen_commons_Grid_Relative%22%3A%22relative%22%2C%22sap_zen_commons_Grid_Zero%22%3A%220%22%2C%22sap_zen_commons_Grid_Left%22%3A%22left%22%2C%22sap_zen_commons_Grid_None%22%3A%22none%22%2C%22sap_zen_commons_Grid_Text%22%3A%22text%22%2C%22sap_zen_commons_Grid_100PerCent%22%3A%22100%25%22%2C%22sap_zen_commons_Grid_Top%22%3A%22top%22%2C%22sap_zen_commons_Grid_Ellipsis%22%3A%22ellipsis%22%2C%22sap_zen_commons_Grid_Clip%22%3A%22clip%22%2C%22sap_zen_commons_Grid_Middle%22%3A%22middle%22%2C%22sap_zen_commons_Grid_StandardDisplay%22%3A%22inline-block%22%2C%22sap_zen_commons_Grid_ScrollbarWidth%22%3A%2216px%22%2C%22sap_zen_commons_Grid_ThumbBorderRadius%22%3A%2210px%22%2C%22sap_zen_commons_Grid_ThumbShadow%22%3A%22inset%200%200%206px%20%238c8c8c%22%2C%22sap_zen_commons_Grid_TooltipWidth%22%3A%22120px%22%2C%22sap_zen_commons_Grid_TooltipFontSize%22%3A%227px%22%2C%22sap_zen_commons_Grid_TooltipColor%22%3A%22%236a6d70%22%2C%22sap_zen_commons_Grid_TooltipRadius%22%3A%226px%22%2C%22sap_zen_commons_Grid_TooltipPadding%22%3A%225px%200%22%2C%22sap_zen_commons_Grid_FontMeasureColour%22%3A%22%23949494%22%2C%22sap_zen_commons_Grid_HierIconMaxHeight%22%3A%2222px%22%2C%22sap_zen_commons_Grid_HierIconPaddingRight%22%3A%225px%22%2C%22sap_zen_commons_Grid_ExcelBorderWidth%22%3A%221px%22%2C%22sap_zen_commons_Grid_ExcelBorderStyle%22%3A%22solid%22%2C%22sap_zen_commons_Grid_ExcelBorderColor%22%3A%22%2389919a%22%2C%22sap_zen_commons_Grid_ExcelBackgroundColor%22%3A%22%23ffffff%22%2C%22sap_zen_commons_Grid_ExcelResultFontWeight%22%3A%22600%22%2C%22sap_zen_commons_Grid_ExcelFatBorderWidth%22%3A%222px%22%2C%22sap_zen_commons_Grid_BusinessBorderWidth%22%3A%221px%22%2C%22sap_zen_commons_Grid_BusinessBorderStyle%22%3A%22solid%22%2C%22sap_zen_commons_Grid_BusinessBorderColor%22%3A%22%2389919a%22%2C%22sap_zen_commons_Grid_BusinessBackgroundColor%22%3A%22%23f7f7f7%22%2C%22sap_zen_commons_Grid_BusinessResultFontWeight%22%3A%22600%22%2C%22sap_zen_commons_Grid_BusinessFatBorderWidth%22%3A%222px%22%2C%22sap_zen_commons_Grid_BusinessBorderCollapse%22%3A%22collapse%22%7D')}
