:root {
  --sapUiFontLightFamily: "72-Light", "72-Lightfull", "72", "72full", Arial, Helvetica, sans-serif;
  --sapUiFontBoldFamily: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;
  --sapUiSacGridExpandedAboveIcon: "\e1f0";
  --sapUiSacGridExpandedBelowIcon: "\e1ef";
  --sapUiSacGridCollapsedIcon: "\e1ed";
  --sapUiSacGridCursorPointer: pointer;
  --sapUiSacGridNoDataCursorPointer: auto;
  --sapUiSacGridTextDecoration: underline;
  --sapUiSacGridNoDataTextDecoration: none;
  --sapUiSacGridCellBorder: 1px solid #5e696e;
  --sapUiSacGridCellBorderCollapse: separate;
  --sapUiSacGridOverflow: auto;
  --sapUiSacGrid100PerCent: 100%;
  --sapUiSacGridCellNoFlex: none;
}
.sapContrast {
  --sapUiSacGridCellBorder: 1px solid #d3d7d9;
}

/* Inline theming parameters */
#sap-ui-theme-sap\.sac\.grid{background-image:url('data:text/plain;utf-8,%7B%22default%22%3A%7B%22sapUiFontLightFamily%22%3A%22%5C%2272-Light%5C%22%2C%20%5C%2272-Lightfull%5C%22%2C%20%5C%2272%5C%22%2C%20%5C%2272full%5C%22%2C%20Arial%2C%20Helvetica%2C%20sans-serif%22%2C%22sapUiFontBoldFamily%22%3A%22%5C%2272-Bold%5C%22%2C%20%5C%2272-Boldfull%5C%22%2C%20%5C%2272%5C%22%2C%20%5C%2272full%5C%22%2C%20Arial%2C%20Helvetica%2C%20sans-serif%22%2C%22sapUiSacGridExpandedAboveIcon%22%3A%22%5C%22%5C%5Ce1f0%5C%22%22%2C%22sapUiSacGridExpandedBelowIcon%22%3A%22%5C%22%5C%5Ce1ef%5C%22%22%2C%22sapUiSacGridCollapsedIcon%22%3A%22%5C%22%5C%5Ce1ed%5C%22%22%2C%22sapUiSacGridCursorPointer%22%3A%22pointer%22%2C%22sapUiSacGridNoDataCursorPointer%22%3A%22auto%22%2C%22sapUiSacGridTextDecoration%22%3A%22underline%22%2C%22sapUiSacGridNoDataTextDecoration%22%3A%22none%22%2C%22sapUiSacGridCellBorder%22%3A%221px%20solid%20%235e696e%22%2C%22sapUiSacGridCellBorderCollapse%22%3A%22separate%22%2C%22sapUiSacGridOverflow%22%3A%22auto%22%2C%22sapUiSacGrid100PerCent%22%3A%22100%25%22%2C%22sapUiSacGridCellNoFlex%22%3A%22none%22%7D%2C%22scopes%22%3A%7B%22sapContrast%22%3A%7B%22sapUiSacGridCellBorder%22%3A%221px%20solid%20%23d3d7d9%22%7D%7D%7D')}
