/*!
 * SAPUI5
  (c) Copyright 2009-2020 SAP SE. All rights reserved
 */
/*!
 * SAPUI5
  (c) Copyright 2009-2020 SAP SE. All rights reserved
 */
/******************* FILE /Base/baseLib/baseTheme/base.less (Version 11.1.34) *******************/
/******************* FILE /Base/baseLib/sap_belize_hcw/base.less (Version 11.1.34) *******************/
/* ====================================== */
/* CSS for control sap.sac.grid.Grid */
/* Base theme                             */
/* ====================================== */
.sapUiSACReactNode {
  background-color: #ffffff;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.reactTableComponent .tableContainer .reactTable .cellValue {
  color: #000000;
  flex: none !important;
}
.reactTableComponent .tableContainer .reactTable .cellValue:hover {
  text-decoration: underline;
  cursor: pointer;
}
.icon.hierarchyIcon.expandedAboveIcon:before {
  font-family: "SAP-icons";
  color: #000000;
  content: "\e1f0";
}
.icon.hierarchyIcon.expandedAboveIcon:hover {
  cursor: pointer;
}
.icon.hierarchyIcon.expandedBelowIcon:before {
  font-family: "SAP-icons";
  color: #000000;
  content: "\e1ef";
}
.icon.hierarchyIcon.expandedBelowIcon:hover {
  cursor: pointer;
}
.icon.hierarchyIcon.collapsedIcon:before {
  font-family: "SAP-icons";
  color: #000000;
  content: "\e1ed";
}
.icon.hierarchyIcon.collapsedIcon:hover {
  cursor: pointer;
}
.reactTableComponent.noDataInTable .tableContainer .reactTable .cellValue {
  color: #000000;
  flex: none !important;
}
.reactTableComponent.noDataInTable .tableContainer .reactTable .cellValue:hover {
  text-decoration: none;
  cursor: auto;
}
/* ====================================== */
/* CSS for control sap.sac.grid.Grid */
/* Excel Style Adaptions                  */
/* ====================================== */
.reactTableComponent .tableContainer .htmlTableWrapper.showGrid .tableDivCell {
  border-left: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
  border-collapse: separate;
}
/******************* FILE /Base/baseLib/sap_fiori_3_hcw/base.less (Version 11.1.34) *******************/

/* Inline theming parameters */
#sap-ui-theme-sap\.sac\.grid{background-image:url('data:text/plain;utf-8,%7B%22sapUiSacGridExpandedAboveIcon%22%3A%22%5C%22%5C%5Ce1f0%5C%22%22%2C%22sapUiSacGridExpandedBelowIcon%22%3A%22%5C%22%5C%5Ce1ef%5C%22%22%2C%22sapUiSacGridCollapsedIcon%22%3A%22%5C%22%5C%5Ce1ed%5C%22%22%2C%22sapUiSacGridCursorPointer%22%3A%22pointer%22%2C%22sapUiSacGridNoDataCursorPointer%22%3A%22auto%22%2C%22sapUiSacGridTextDecoration%22%3A%22underline%22%2C%22sapUiSacGridNoDataTextDecoration%22%3A%22none%22%2C%22sapUiSacGridCellBorder%22%3A%221px%20solid%20%23000000%22%2C%22sapUiSacGridCellBorderCollapse%22%3A%22separate%22%2C%22sapUiSacGridOverflow%22%3A%22auto%22%2C%22sapUiSacGrid100PerCent%22%3A%22100%25%22%2C%22sapUiSacGridCellNoFlex%22%3A%22none%22%7D')}
